<% count = feed.unread.count %>
<tr id="feed<%= feed.id %>">
  <td>
    <%= link_to feed.name, url_for(:post, :index, feed_id: feed.id) %>
    <%= (count == 0) ? '' : "(#{count})" %>
  </td>
  <td>
    <%= feed.status %>
  </td>
</tr>
