#contextMenu {
    position: absolute;
    display:none;
}

h2.card-title {
    text-align: center;
}

.card-title a {
    color: black;
}

.card-header a.navigation {
    display: inline;
    color: black;
    font-size: xx-large;
    float: left;
}

.card-header a.action {
    display: inline;
    color: white;
    font-size: xx-large;
}

tr a.zombie {
    font-style: italic;
}
tr a.hidden {
    text-decoration: line-through;
}
tr a.clicked {
    text-color: gray;
}
