#header {
    height:0.67in;
}	
#logo {
    font-size:x-large;
    color:purple;
    font-style:oblique;
    font-family:sans-serif
}
#contextMenu {
    position: absolute;
    display:none;
}

h2.card-title {
    text-align: center;
}

.card-title a {
    color: black;
}

.card-header a.navigation {
    display: inline;
    color: black;
    font-size: xx-large;
    float: left;
}
.card-header .action {
    display: inline;
    color: white;
    font-size: x-large;
}
.card-header .actions {
    float: right;
}

tr a.zombie {
    font-style: italic;
}
tr a.hidden {
    text-decoration: line-through;
}
tr a.clicked {
    color: gray;
}

.paginate {
    font-size: x-large;
    text-align: center;
}
