<% hide_url = url_for(:post, :hide, id: post.id, origin: @origin) %>
<% down_url = url_for(:post, :down, id: post.id, origin: @origin) %>

<tr id="post<%= post.id %>">
  <td>
    <%= link_to_post_show(post, @origin, @datetime_only) %>
  </td>
  <td style="width: 3em">
    <div>
      <%= link_to MINUS, hide_url, method: :put, class: 'btn btn-link action', style: 'padding: 0'		 %>
      <%= link_to DOWN_ARROW, down_url, method: :put, class: 'btn btn-link action', style: 'padding: 0' %>
    </div>
  </td>
</tr>
