<div class="card">
  <div class="card">
    <div class="card-header bg-warning">
      <h2 style="text-align:center"><%= link_to @post.title, @post.url %></h2>
    </div>
    <%= partial 'layouts/flash' %>

    <div class="card-body">
      <p class="card-text">
        <%== @post.description || '<b><em>Missing description</em></b>' %>
      </p>
    </div>
  </div>
</div>

